.blogs {
  padding-top: 60px;
  padding-right: 0px;
  padding-bottom: 5px;
  padding-left: 0px;

  @media (max-width: 576px) {
    padding: 32px 0px;
  }

  .title {
    font-weight: 800;
    color: #151875;
    font-size: 30px;
    text-transform: capitalize;
    margin-bottom: 10px;
    text-align: center;

    @media (max-width: 576px) {
      font-size: 28px;
      margin-bottom: 0;
    }
  }

  .swiper {
    padding: 0px 23px;

    @media (max-width: 576px) {
      padding: 0;
    }

    .swiper-wrapper {
      .swiper-slide {
        padding: 38px 6px;
        width: 405px !important;

        @media (max-width: 768px) {
          width: 49% !important;
        }

        @media (max-width: 576px) {
          width: 100% !important;
        }

        .card {
          border: none;
          border-radius: 8px;
          box-shadow: 0px 8px 40px rgba(49, 32, 138, 0.09);
          margin: 0 auto;
          width: 98%;

          .card-img {
            border-radius: 8px;
            height: 250px;
          }

          .card-body {
            text-align: left;
            padding: 16px 18px 32px 18px;

            .author-details {
              display: flex;
              align-items: baseline;

              .name {
                font-size: 14px;
                color: #151875;
                font-weight: 600;
                text-transform: capitalize;
                margin-right: 34px;
                margin-left: 8px;
              }

              .publish-date {
                color: #151875;
                font-size: 14px;
                font-weight: 600;
                margin-left: 8px;
              }
            }

            .card-title {
              font-size: 16px;
              color: #151875;
              font-weight: 700;
              margin: 12px 0px;

              &.card-title-pink {
                color: #FB2E86;
              }
            }

            .card-text {
              color: #72718F;
              font-size: 14px;
              line-height: 24px;
            }

            .read-more {
              color: #151875;
              font-weight: 600;
              cursor: pointer;

              &.read-more-pink {
                color: #FB2E86;
                cursor: pointer;
              }
            }
          }
        }

        .all-blogs-card {
          height: 465px;
        }
      }
    }
  }
}