.confirm-box {
	background-color: rgb(233, 233, 233);
	margin: 14% 0px;
}

.confirm-box h1 {
	font-size: 30px;
	color: rgb(53, 53, 53);
	font-weight: 700;
}

.confirm-box .confirm-header {
	background-color: #fbae56;
	padding: 20px;
}

.confirm-box .confirm-content {
	padding: 30px;
}

.confirm-box .btn-primary {
	padding: 10px 22px 12px 22px;
	font-weight: 600;
	border-radius: 100px;
}