.category-items {
  cursor: pointer;
}

.inactive-cat-item {
  background-color: #dbf0fe;
  border-color: #dbf0fe;
}

.active-category-item {
  border: 1px solid #dbf0fe;
  border-bottom: none;
  font-weight: 600 !important;
}