.home-slider {
  .carousel {
    .slide {
      overflow: hidden;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        height: 660px;
        max-height: 60vh;
        object-fit: cover;
        background: linear-gradient(rgba(0, 0, 0, 0.4) 100%, rgba(0, 0, 0, 0.6)100%);

        @media (max-height: 900px) {
          height: 620px;
        }

        @media (max-width: 576px) {
          height: 350px;
        }
      }

      .legend {
        top: 20%;
        left: 10%;
        color: #fff;
        margin-left: 0;
        opacity: 1;
        font-size: 50px;
        max-width: 46%;
        text-align: left;
        line-height: 60px;
        font-weight: 700;
        background: none;

        @media (max-width: 768px) {
          left: 6%;
          top: 6%;
          max-width: 100%;
          font-size: 44px;
          line-height: 54px;
        }

        @media (max-width: 576px) {
          top: 4%;
          left: 4%;
          max-width: 100%;
          font-size: 24px;
          line-height: 30px;
        }
      }

      .primary-btn {
        position: absolute;
        top: 65%;
        left: 11%;

        @media (max-width: 768px) {
          top: 30%;
          left: 8%;
        }

        @media (max-width: 576px) {
          top: 28%;
          left: 6%;
        }
      }
    }

    &.carousel-slider {
      .control-arrow {
        display: none;
      }

      .carousel-status {
        display: none;
      }
    }
  }
}