.how-it-works-wrapper {
  padding: 60px 0px;

  @media (max-width: 576px) {
    >.row {
      /* there is some margin right on mobile view so unset this margin  */
      margin-right: unset;
    }
  }

  .title {
    font-size: 48px;
    font-weight: $bold;
    color: #18191F;
    text-align: center;
    margin-bottom: 60px;
    font-weight: 800;

    @media (max-width: 576px) {
      font-size: 26px;
    }
  }

  .card {
    border: none;
    text-align: center;

    @media (max-width: 576px) {
      margin-bottom: 38px;
    }

    .card-img {
      width: fit-content;
      margin: 0 auto;
      margin-bottom: 20px;
    }

    .card-title {
      font-size: 24px;
      color: #18191F;
      font-weight: $bold;
      text-transform: capitalize;
      font-weight: 600;
    }

    .card-text {
      color: #18191F;
      font-size: 16px;
      font-weight: 400;
      padding: 0px 40px;
    }
  }
}