@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
	font-family: 'Montserrat', sans-serif !important;
}

button {
	&:focus {
		box-shadow: none !important;
	}
}

.container {
	@media (min-width: 1400px) {
		max-width: 90%;
	}
}

@import './nav-bar.scss';
@import './dashboard.scss';
@import './variables';
@import './home-slider.scss';
@import './select-vehicle.scss';
@import './product-slider.scss';
@import './how-it-works.scss';
@import './what-we-offer.scss';
@import './blogs.scss';
@import './testimonial-slider.scss';
@import './social-updates.scss';
@import './footer.scss';
@import './common.scss';
@import './product-listing.scss';
@import './product-detail.scss';
@import './cart-product-list.scss';
@import './thank-order-screen.scss';
@import './login-signup.scss';
@import './confirmation.scss';
@import './blog.scss';
@import './tnc.scss';
@import './aboutus.scss';
@import './refund.scss';
@import './privacypolicy.scss';
@import './career.scss';
@import './contactus.scss';
@import './loaderCard.scss';
@import './retailFranchise.scss';
@import './shop-now-modal.scss';