// common login btn css
.login-btn {
  background: #0156ff;
  border-radius: 100px;
  font-weight: 600;
  font-size: 14px;
  padding: 14px;
  width: 150px;
  border: none;
  margin-right: 20px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}


.login-signup-card-wrapper {
  padding: 20px 0px 60px 0px;

  .title {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 32px;
  }
  .mobileVerify {
    color: #00d566;
  }

  .login-signup-card {
    background: #f5f7ff;
    padding: 30px 40px;
    border-radius: 4px;

    @media (max-width: 768px) {
      margin-bottom: 26px;
    }

    @media (max-width: 576px) {
      padding: 24px 22px;
      margin-bottom: 26px;
    }

    h4 {
      font-size: 18px;
      font-weight: 600;
    }

    p {
      font-size: 14px;
      font-weight: 300;
    }

    label {
      font-size: 13px;
      font-weight: 600;

      span {
        color: rgb(226, 24, 24);
      }
    }

    .verifyBtn {
      color: blue;
      cursor: pointer;
    }

    input {
      border-radius: 4px;
      border: 1px solid #a2a6b0;
      background-color: white;
      padding: 12px;
    }

    .login-btn-wrap {
      display: flex;
      align-items: center;
      margin-top: 3rem;

      .login-btn {
        @extend .login-btn;
      }

      .forgot-password {
        color: #0156ff;
        text-decoration: none;
        font-size: 14px;
        font-weight: 400;
      }
    }
  }

  .new-customer {
    background: #f5f7ff;
    padding: 30px 40px;
    border-radius: 4px;

    .title {
      font-size: 18px;
      font-weight: 600;
    }

    .desc {
      font-size: 14px;
      font-weight: 300;
    }

    li {
      font-size: 14px;
      font-weight: 300;
      line-height: 26px;
    }

    .create-btn {
      @extend .login-btn;
      width: 200px;
      margin-top: 1rem;
    }
  }
}

.select-vehicle-modal-go {
  text-align: center;
}