$iconWidth : 20px;
$themeYellowColor: #ffb606;

.drawer {
	z-index: 1400 !important;
}

.search-result-item {
	padding: 10px;
	display: flex;
	border-bottom: 1px solid #00000024;
	cursor: pointer;

	.image-wrapper {
		img {
			margin-right: 1rem;
			width: 50px;
			max-height: 50px;
			object-fit: contain;
		}
	}

	.content {
		.product {
			margin: 0;
			font-size: 12px;
			font-weight: bold;
		}

		.price {
			margin: 8px 0 0;
			font-size: 12px;

			span {
				color: $themeYellowColor;
			}
		}
	}
}

.searchDialog {
	position: relative;

	.searchDialogCross {
		color: #fff;
		background-color: $themeYellowColor;
		position: absolute;
		top: 1rem;
		right: 1rem;
		padding: 8px 12px;
		cursor: pointer;
		font-size: 18px;
		border-radius: 4px;
	}

	& .MuiPaper-root {
		background-color: transparent;
		box-shadow: none;
	}

	& .MuiDialogContent-root {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	& .MuiAutocomplete-listbox {
		background-color: #FFFFFF;
	}
}

.my-navbar {
	padding: 0;
	border-bottom: 4px solid #FFB606;

	.hamburger {
		font-size: $iconWidth;
		margin-right: 1rem;
		background-color: #FFB606;
		color: #FFFFFF;
		padding: 6px 8px;
		border-radius: 4px;
	}

	.searchIcon {
		margin-right: 1rem;
		font-size: $iconWidth;
		color: #1E3050;
		cursor: pointer;
	}

	.autoform-logo {
		width: 120px;

		@media (max-width: 767px) {
			width: 70px;
		}
	}

	.mobile-nav {
		display: flex;
		align-items: center;
	}
}

.drawerHeader {
	display: flex;
	justify-content: space-between;
	border-bottom: solid 1px #00000024;
	padding-bottom: 8px;
	margin-bottom: 20px;

	img {
		width: 72px;
		margin-top: -26px;
		margin-left: 10px;
	}

	svg {
		color: #ffb606;
		font-size: 24px;
	}
}

.profile-wrapper {
	.login {
		background-color: $themeYellowColor;
		color: #FFF;
		padding: 5px 10px;
		font-size: 14px;
		font-weight: bold;
		border-radius: 24px;
		margin: 0;
		cursor: pointer;
	}

	.profileDropdown {
		.toggle {
			background: transparent;
			border: 0;
			padding: 0;

			svg {
				color: #1e3050;
				font-size: $iconWidth;
			}
		}

		.dropdown-menu {
			padding: 0;
		}

		.dropdown-item {
			padding: 6px 10px;
			text-decoration: none;
			font-weight: 500;
			color: #2a2a2a;
			font-size: 14px;

			&:last-child {
				border-bottom: 0;
			}

			&:hover {
				background-color: #ffb606;
			}
		}
	}
}

.cart-wrapper {
	position: relative;
	font-size: 12px;
	cursor: pointer;

	.cart-mobile {
		font-size: $iconWidth;
		margin-right: 1rem;
		color: #1e3050;
	}

	.cart-item {
		width: 18px;
		height: 18px;
		background-color: #F93C52;
		border-radius: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		left: 12px;
		bottom: 14px;

		.cart-value {
			font-size: 10px;
			color: #fff;
		}
	}
}

.contacts-wrapper {
	border-top: solid 1px #00000024;
	margin-top: 20px;
	padding-top: 2rem;

	.contact-header {
		font-weight: bold;
	}

	.contacts {
		.contact {
			display: flex;
			align-items: center;
			margin-bottom: 0.5rem;

			svg {
				padding: 12px;
				text-align: center;
				background: #f1e6e6;
				line-height: 40px;
				margin-right: 12px;
				font-size: 1rem;
				color: #000;
				border-radius: 3px;
			}

			a {
				text-decoration: none;
				color: #000;
				font-size: 1rem;
			}
		}
	}
}

.linksWrapper {
	display: flex;
	flex-direction: column;
	align-items: end;

	hr {
		height: 18px;
		margin: 0.5rem 1rem;
	}

	.navbar-nav {
		flex-direction: row;

		.active {
			font-weight: bolder !important;
			font-size: 20px;
		}

		.nav-item {
			padding: 0 18px 0 0;

			&:last-child {
				padding-right: 0;
			}

			.nav-link {
				color: #000;
				font-size: 16px;
				font-weight: 500;
				padding: 0;
				text-transform: capitalize;
			}

			.dropdown {
				.dropdown-toggle {
					&::after {
						border-top: none;
						border-right: none;
					}
				}

				.dropdown-menu {
					min-width: 95px;
					padding: 0 !important;
					z-index: 99999;
					background-color: #ffb606;
					border-radius: 0px;
					margin-top: 19px;
					position: absolute;

					.dropdown-item {
						// width: 95px;
						padding: 11px 10px;
						color: #111;
						font-weight: 600;
						text-align: center;
						font-size: 14px;

						@media (max-width: 767px) {
							width: 100px;
						}

						&:hover {
							background-color: #e8aa0f;
						}

						>a {
							text-decoration: none;
							font-weight: 600;
							color: #2a2a2a;
						}
					}

					.divider {
						background-color: 'white';
						height: '1px';
						margin: 0px;
					}
				}
			}

			.dropdown:hover .dropdown-menu {
				display: block;
				margin-top: 0px;
			}
		}
	}
}

.linksWrapperMobile {
	padding: 30px 20px 20px;
	width: 350px;

	.navbar-nav {
		.active {
			font-weight: bolder !important;
			font-size: 20px;
		}

		&>.nav-item {
			padding: 8px 0;

			.dropdown {
				padding: 0px 12px;
			}

			.nav-link {
				color: #000;
				font-size: 16px;
				font-weight: 400;
				padding: 0px 12px;
				text-transform: capitalize;
				transition: all 0.3s linear;

				&:hover {
					color: #ffb606;
				}
			}

			.nav-link-drop {
				padding: 0;
				display: flex;
				justify-content: space-between;
				align-items: center;
			}

			.dropdown {
				.dropdown-menu {
					border: 0;
					padding: 0;
					border-radius: 0px;
					margin-top: 19px;
					transition: all 0.5s linear;
					font-size: 14px;

					.dropdown-item {
						padding: 11px 10px;
						color: #000;
						font-size: 16px;

						&:hover {
							background-color: #e8aa0f;
						}

						>a {
							text-decoration: none;
							color: #2a2a2a;
						}
					}
				}
			}

			.dropdown:hover .dropdown-menu {
				display: block;
				margin-top: 0px;
				animation: test 0.2s ease-in;
			}

			@keyframes test {
				from {
					opacity: 0;
					transform: translate3d(0%, 90%, 90%);
				}

				to {
					opacity: 1;
					transform: translate3d(0, 0, 0);
				}
			}
		}
	}
}


.megaMenu{
	min-width: 425px !important;
}

.submenu-wrapper {
  position: relative;
}

.submenu-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.submenu {
  position: absolute;
  top: 0;
  left: 100%;
  background: white;
  border: 1px solid #ccc;
  min-width: 180px;
  z-index: 1000;
  padding: 0;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.submenu .dropdown-item {
  padding: 8px 16px;
  text-align: left !important;
  white-space: nowrap;
}

@media (max-width: 768px) {
	.submenu {
		top: 45px;
    	left: 25%;
		min-width: 215px;
	}
}