.product-slider-wrapper {
  padding: 18px 0px 22px 0px;

  @media (max-width: 576px) {
    >.row {
      /* there is some margin right on mobile view so unset this margin  */
      margin-right: unset;
    }
  }

  .title {
    text-align: center;
    font-size: 42px;
    font-weight: $semi-bold;
    color: #1e1e1e;
    text-transform: capitalize;

    @media (max-width: 576px) {
      font-size: 26px;
    }
  }

  .shimmer-cards {
    display: flex;
  }

  .product-slider-tabs {
    text-align: center;
    margin: 0 auto;

    ul {
      margin: 20px auto 26px;
      padding-inline-start: initial;

      li {
        list-style: none;
        display: inline-block;
        padding: 7px 25px 5px;
        box-shadow: 0 0 5px color(srgb 0 0 0 / 0.1);
        margin: 0 5px 4px;
        border: 1px solid transparent;
        border-radius: 5px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        transform: skew(-21deg);

        @media (max-width: 576px) {
          padding: 5px 22px 4px;
          font-size: 16px;
        }

        .tab-link {
          transform: skew(21deg);
          display: flex;
          z-index: 2;
          color: #5a5959;
          font-size: 17px;
          font-weight: 500;
          text-decoration: none;
        }

        .category-selected-tab {
          color: #fff;
        }
      }

      .active-category-item {
        background: #ffb606;
      }

      .inactive-cat-item {
        background-color: white;
      }
    }

    &.no-tabs {
      display: none;
    }
  }

  .swiper {
    &.acc-swiper-no-wrap {
      .swiper-button-prev {
        @extend .swiper-button-prev;

        @media (max-width: 576px) {
          display: none;
        }
      }

      .swiper-wrapper {
        flex-wrap: nowrap;
        /* set to 'wrap' for for wrapping 8 cards */
        flex-direction: row;
        align-items: center;

        @media (max-width: 768px) {
          flex-wrap: nowrap;
        }

        @media (max-width: 576px) {
          flex-wrap: nowrap;
        }
      }
    }

    &.acc-swiper-wrap {
      .swiper-button-prev {
        @extend .swiper-button-prev;
        box-shadow: 0px 7.03125px 19.5312px rgba(0, 0, 0, 0.06);
        border: none !important;

        @media (max-width: 576px) {
          display: none;
        }
      }

      .swiper-wrapper {
        flex-direction: row;
        flex-wrap: nowrap;
      }
    }

    .swiper-wrapper {
      flex-wrap: nowrap;
      flex-direction: row;
      align-items: center;
    }

    .swiper-button-next {
      @extend .swiper-button-next;
      box-shadow: 0px 7.03125px 19.5312px rgba(0, 0, 0, 0.06);
      border: none !important;
    }

    .swiper-slide {
      width: 405px !important;
      margin-top: 0 !important;


      @media (max-width: 576px) {
        width: 100% !important;
        margin-left: 7px;
      }

      .card {
        cursor: pointer;
        border: none;
        border-radius: 0.5rem;
        margin-bottom: 14px;
        margin-top: 14px;
        min-height: 386px;
        width: 98%;
        box-shadow: 0px 8px 40px rgba(49, 32, 138, 0.09);

        &.small-card {
          min-height: unset;
        }

        .thumbnail-wrapper {
          position: relative;
          cursor: pointer;

          &:hover>.overlay-wrapper {
            visibility: visible;
          }

          .overlay-wrapper {
            visibility: hidden;
            background-color: rgba(12, 62, 185, 0.51);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
            text-align: center;

            .overlap-box {
              position: relative;
              top: 50%;
              transform: translateY(-50%);

              button {
                width: 36px;
                height: 36px;
                margin: 16px 4px;
                border-radius: 3px;
                display: inline-block;
                border: 1px solid #fff;
                color: #fff;
                background-color: transparent;

                &:hover {
                  border: 1px solid #ffb400;
                  background-color: #ffb400;
                }
              }
            }
          }
        }

        .card-img {
          width: 100%;
          height: 230px;
          object-fit: contain;
          margin: 0 auto;

          &.card-bike-img {
            width: 170px;
            height: 200px;
            object-fit: contain;
          }
        }

        .card-body {
          padding: 12px 1rem;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          @media (max-width: 576px) {
            padding: 2px 1rem;
          }

          &.bike-acc-body {
            background: none;
            text-align: center;
            padding: 24px 0px 24px 0px;

            .card-title {
              font-size: 1rem;
              font-weight: 600;
            }

            &.view-all-wrap {
              background: linear-gradient(180deg, rgba(247, 247, 247, 0) 70.79%, #d0d0d0 100%);
              height: 100%;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;

              .nav-link {
                margin-top: -6rem;
                font-size: 22px;
                font-weight: 600;
              }

              .view-all-btn {
                @extend .primary-btn;
                text-decoration: none;
              }
            }
          }

          .card-title {
            color: #ffb400;
            text-transform: capitalize;
            font-size: 16px;
            font-weight: $bold;
            margin: 0;

            &:hover {
              color: #343a40;
            }
          }

          .card-subtitle {
            color: #8d8d8d;
            font-size: 16px;
            padding-top: 18px;
            text-transform: capitalize;

            @media (max-width: 576px) {
              font-size: 13px;
            }
          }

          .fa-star {
            color: #f6b76f;
            display: inline-block;
            padding: 4px 6px 4px 0px;
          }
        }
      }
    }
  }

  ~.product-slider-wrapper-three {
    .title {
      font-weight: 600;
      font-size: 42px;
      color: #0f0f0f;
      text-transform: capitalize;
      text-align: center;
      margin-bottom: 14px;

      @media (max-width: 576px) {
        font-size: 26px;
      }
    }

    .swiper {
      &.acc-swiper-no-wrap {
        .swiper-button-prev {
          @extend .swiper-button-prev;
        }

        .swiper-wrapper {
          flex-wrap: nowrap;
          flex-direction: row;
          align-items: center;

          @media (max-width: 576px) {
            flex-wrap: nowrap;
          }
        }
      }

      &.acc-swiper-wrap {
        .swiper-button-prev {
          @extend .swiper-button-prev;
          left: 30px;
        }

        .swiper-wrapper {
          flex-direction: row;
          flex-wrap: nowrap;
          /* set to 'wrap' for for wrapping 8 cards */
          margin: 0 auto;
          // width: 1140px !important;
          max-width: 100%;

          @media (max-width: 576px) {
            flex-wrap: nowrap;
          }
        }
      }

      .swiper-wrapper {
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
      }

      .swiper-button-next {
        @extend .swiper-button-next;
        right: 0;
      }

      .swiper-slide {
        width: 394px !important;

        @media (min-width: 992px) {
          width: 32% !important;
        }

        @media (min-width: 1200px) {
          width: 32% !important;
        }

        @media (min-width: 1400px) {
          width: 32% !important;
        }

        @media (max-width: 768px) {
          width: 28% !important;
        }

        @media (max-width: 576px) {
          width: 49% !important;
          margin: 3px;
        }

        margin-top: 0 !important;

        .card {
          padding: 4px;
          border: none;
          cursor: pointer;
          margin-bottom: 46px;
          background: linear-gradient(180deg,
              rgba(247, 247, 247, 0) 69.72%,
              #eaeaea 100%);
          padding: 10px 14px 0px 14px;
          border-radius: 20px;
          min-height: 396px;

          @media (max-width: 576px) {
            min-height: 296px;
          }

          .view-all-wrap {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .view-all-btn {
              @extend .primary-btn;
              text-decoration: none;
            }
          }

          .card-img {
            width: 230px;
            height: 270px;
            object-fit: contain;
            margin: 0 auto;
            transform: scale(1);
            transition: transform ease-in-out 0.8;

            &:hover {
              transform: scale(1.3);
              transition: 0.8s;
            }

            @media (max-width: 576px) {
              width: 138px;
              height: unset;
            }
          }

          .card-design-half {
            display: flex;
            justify-content: space-between;
            padding: 28px 0px 0px 0px;

            @media (max-width: 576px) {
              padding: 18px 0px 10px 0px;
              flex-direction: column;
            }

            .seat-title {
              font-size: 16px;
              font-weight: 500;
              color: #151875;

              @media (max-width: 576px) {
                margin-bottom: 6px;
                font-size: 14px;
              }
            }

            .price-detail {
              .discounted {
                font-size: 16px;
                color: #0d1b39;
                font-weight: 600;
                margin-right: 18px;
              }

              .full {
                font-weight: 400;
                font-size: 14px;
                color: #fb2448;
                text-decoration: line-through;
              }
            }
          }
        }
      }
    }
  }
}