.custom-modal .modal-dialog {
    margin: 0;
  }
  
  .custom-modal .modal-content {
    width: auto;
    background-color: #F5F5F5;
    border: none;
    border-radius: 20px;
  }
  
  .modal-sm {
    width: auto;
    max-width: 50%;
  }
  
  .modal-body-content {
    display: flex;
    flex-direction: row;
  }
  
  .left-section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    

    img {
      max-width: 100%;
      height: auto;
    }
  }
  
  .right-section {
    flex: 1;
    display: flex;
    flex-direction: column;

    .callback-title {
      color: black;
      font-weight: 600;
      font-size: 17px;
      margin-left: 2px;
    }
  
    .phone-input {
      padding: 10px;
      border-radius: 20px;
    }

    .error-msg {
      color: red;
      font-size: 12px;
      margin-top: 10px;
      margin-left: 2px;
    }
  
    .send-request-button {
      margin-top: 20px;
      border-radius: 20px;
      border-width: 0;
      background-color: #f5b100;
      font-weight: 500;
    }
  }
  