.heading {
    font-size: 35px;
    margin: 2rem 0px;
    font-weight: 800;
    color: #18191f;
    text-align: center;

    @media (max-width: 576px) {
        font-size: 26px;
    }
}

.overlay-screen {
    position: relative;
}

.social-updates-wrapper {
    margin-bottom: 0.5rem;


    & .MuiMasonry-root {
        margin: 0;

        img {
            display: block;
            width: 100%;
        }
    }
}