.thank-order-wrapper {
  padding-bottom: 40px;

  .title {
    font-weight: 400;
    font-size: 20px;
    color: #313131;
  }

  .desc {
    color: #868686;
    font-weight: 500;
    font-size: 14px;

    .mail {
      font-weight: 700;
      color: #313131;
    }
  }

  .customer-details {
    padding: 1rem 1rem 0;
    border: 1px solid #E0E0E0;
    border-radius: 4px;

    .details-flex {
      display: flex;
      margin-bottom: 1rem;

      @media (max-width: 576px) {
        flex-direction: column;
      }

      .heading {
        margin: 0;
        width: 34%;
        color: #313131;
        font-weight: 500;
        font-size: 14px;


        @media (max-width: 576px) {
          width: unset;
          text-align: justify;
        }

      }

      .data-div {
        width: 66%;

        @media (max-width: 576px) {
          width: unset;
        }

        .data {
          margin-bottom: 0;
          font-size: 14px;
        }

        .sub-data {
          color: #868686;
          margin-bottom: 0;
          font-size: 14px;
        }
      }
    }
  }

  .order-txt {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 1.5rem;
  }

  .order-details {
    border: 1px solid #E0E0E0;
    padding: 1rem;
    border-radius: 4px;

    @media (max-width: 991px) {
      margin-top: 1.5rem;
    }

    .order-flex {
      display: flex;
      align-items: flex-start;
      margin-bottom: 18px;

      &>img {
        margin-right: 12px;
        width: 90px;
        height: auto;
        border-radius: 4px;
      }

      .details {
        .order-title {
          margin-bottom: 4px;
          font-size: 14px;
        }

        .qty-price {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 14px;
        }
      }
    }

    .payment-details {
      margin-top: 2rem;

      .heading {
        font-size: 14px !important;
        font-weight: 600;
        margin: 0 0 16px 0;
        text-align: left;

        @media (max-width: 576px) {
          font-size: 14px;
        }
      }

      .del-total {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 12px 0px;

        p {
          font-size: 14px;
          font-weight: 400;
          margin: 0;
        }
      }
    }
  }
}