# API Base URL
REACT_APP_API_BASE_URL=http://localhost:5000

# Firebase Config
REACT_APP_FIREBASE_API_KEY=
REACT_APP_FIREBASE_AUTH_DOMAIN=
REACT_APP_FIREBASE_PROJECT_ID=
REACT_APP_FIREBASE_STORAGE_BUCKET=
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=
REACT_APP_FIREBASE_APP_ID=
REACT_APP_FIREBASE_MEASUREMENT_ID=

# Auth0 Config
REACT_APP_AUTH0_CLIENT_ID=
REACT_APP_AUTH0_DOMAIN=

# AWS Cognito Config
REACT_APP_AWS_POOL_ID=
REACT_APP_AWS_APP_CLIENT_ID=

# S3 Config
REACT_APP_S3_BUCKET_NAME=
REACT_APP_S3_DIRECTORY_NAME=
REACT_APP_S3_REGION=
REACT_APP_S3_URL=
REACT_APP_S3_ACCESS_KEY=
REACT_APP_S3_SECRET_KEY=

# App Config
REACT_APP_API_KEY=
REACT_APP_USER_TYPE=admin
PORT=4000
