.notFoundBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 4rem;

    img {
        max-width: 400px;
        width: 100%;
        height: auto;
    }

    .goBack {
        background-color: #FFB606;
        border: 0;
        color: #FFF;
        border-radius: 4px;
        margin-top: 1rem;
        padding: 8px 16px;
    }

    .title {
        margin-top: 2rem;
        font-size: 32px;
        color: #465a65;
        font-weight: bold;
    }

    .title2 {
        font-size: 32px;
        color: #465a65;
        font-weight: 100;
        text-align: center;
    }

    .helperTextBox {
        text-align: center;
        margin-top: 1rem;

        p {
            margin: 0;
            font-size: 14px;
            color: grey;
            font-weight: 400;
        }
    }
}