.whatsapp-fab {
    position: fixed;
    inset: auto 0 0 auto;
    margin: 20px;
    z-index: 9999;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 12px 0px;
    border-radius: 50%;
    background-color: #25d366;
    cursor: pointer;

    svg {
        font-size: 38px;
        color: #fff;
        margin: 12px 1rem;

        @media (max-width: 767px) {
            font-size: 28px;
            margin: 8px 9px 5px 10px;
        }
    }
}